.subscribe-form {
    display: flex;
    column-gap: 20px;
    width: 100%;
    max-width: 634px;
    padding: 58px 40px;
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius-large);
}